In [1]:
!pip install pyspark

Collecting pyspark
  Using cached pyspark-3.3.2.tar.gz (281.4 MB)
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Using cached py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824010 sha256=3aa3c429ea831347625acced2cc399d94dda2f7c532b5877646292a6a824b93b
  Stored in directory: /Users/koffeebook/Library/Caches/pip/wheels/47/69/84/c7c7776e2287a654536f5cba7dc54c904c03aa2c3e29206f0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [5]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.0-cp311-cp311-macosx_10_9_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 45.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 42.3 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 44.8 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp311-cp311-macosx_10_9_x86_64.whl (19.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.8/19.8 MB 39.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.2 pandas-2.0.0 pytz-2023.3 tzdata-2023.3

In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.context import SparkContext
sc = SparkContext("local","test")

23/04/16 18:41:52 WARN Utils: Your hostname, Kunals-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.68.54 instead (on interface en0)
23/04/16 18:41:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/16 18:41:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from pyspark.sql.functions import *

In [4]:
from pyspark.sql.types import *

In [5]:
spark = SparkSession.builder.appName("pysparktest").getOrCreate()

In [6]:
spark

## Pandas

In [7]:
import pandas as pd

In [20]:
import os 
os.listdir()

['restaurant_orders.csv',
 'spark-warehouse',
 '.ipynb_checkpoints',
 'Pyspark_Python.ipynb']

In [87]:
df1 = pd.read_csv("restaurant_orders.csv")
df1

,Order Number,Order Date,Item Name,Quantity,Product Price,Total products
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6
...,...,...,...,...,...,...
74813,2518,18/05/2016 18:53,House Red wine 75cl,2,17.95,7
74814,2503,14/05/2016 19:28,House Red wine 75cl,2,17.95,6
74815,2467,10/05/2016 13:18,House Red wine 75cl,2,17.95,9
74816,2249,07/04/2016 19:04,House white wine 75cl,1,17.95,6
74817,1403,02/10/2015 17:29,House Red wine 75cl,1,17.95,9

In [52]:
pd.merge(df1,df2,how="outer")

  name  marks  marks2
0    a   34.0    34.0
1    b   50.0    20.0
2    c   45.0     NaN
3    d   12.0    12.0
4    e   50.0     NaN
5    f   46.0    18.0
6    h    NaN    22.0
7    i    NaN    21.0

In [20]:
def res(marks):
    if marks>30:
        return "Pass"
    else:
        return "Fail"

In [21]:
df['result'] = df['marks2'].apply(lambda x:res(x))
df

  name  marks2 result
0    a      34   Pass
1    b      50   Pass
2    h      22   Fail
3    d      12   Fail
4    e      12   Fail
5    i      34   Pass

### Pyspark

In [8]:
df = spark.read.option("header","true").csv("restaurant_orders.csv")

In [9]:
df.show(15)

+------------+----------------+--------------------+--------+-------------+--------------+
|Order Number|      Order Date|           Item Name|Quantity|Product Price|Total products|
+------------+----------------+--------------------+--------+-------------+--------------+
|       16118|03/08/2019 20:25|       Plain Papadum|       2|          0.8|             6|
|       16118|03/08/2019 20:25|    King Prawn Balti|       1|        12.95|             6|
|       16118|03/08/2019 20:25|         Garlic Naan|       1|         2.95|             6|
|       16118|03/08/2019 20:25|       Mushroom Rice|       1|         3.95|             6|
|       16118|03/08/2019 20:25| Paneer Tikka Masala|       1|         8.95|             6|
|       16118|03/08/2019 20:25|       Mango Chutney|       1|          0.5|             6|
|       16117|03/08/2019 20:17|          Plain Naan|       1|          2.6|             7|
|       16117|03/08/2019 20:17|       Mushroom Rice|       1|         3.95|             7|
|       16117|03/08/2019 20:17|Tandoori Chicken ...|       1|         4.95|             7|
|       16117|03/08/2019 20:17|     Vindaloo - Lamb|       1|         7.95|             7|
|       16117|03/08/2019 20:17|             Chapati|       1|         1.95|             7|
|       16117|03/08/2019 20:17|          Lamb Tikka|       1|         4.95|             7|
|       16117|03/08/2019 20:17|         Saag Paneer|       1|         5.95|             7|
|       16116|03/08/2019 20:09|          Aloo Chaat|       1|         4.95|             5|
|       16116|03/08/2019 20:09|      Chicken Pakora|       1|         5.95|             5|
+------------+----------------+--------------------+--------+-------------+--------------+
only showing top 15 rows

In [10]:
df.columns

['Order Number',
 'Order Date',
 'Item Name',
 'Quantity',
 'Product Price',
 'Total products']

In [11]:
df.summary().show()

+-------+------------------+----------------+--------------+------------------+-----------------+------------------+
|summary|      Order Number|      Order Date|     Item Name|          Quantity|    Product Price|    Total products|
+-------+------------------+----------------+--------------+------------------+-----------------+------------------+
|  count|             74818|           74818|         74818|             74818|            74818|             74818|
|   mean|  9115.63816193964|            null|          null|  1.24356438290251|5.286491886982787|  6.93143361223235|
| stddev|4052.2104520331745|            null|          null|0.7982073410496792|  3.3382213559897|3.9548324912473527|
|    min|             10000|01/01/2017 17:31|    Aloo Chaat|                 1|              0.5|                 1|
|    25%|            5590.0|            null|          null|               1.0|             2.95|               5.0|
|    50%|            9102.0|            null|          null|               1.0|             3.95|               6.0|
|    75%|           12630.0|            null|          null|               1.0|             8.95|               8.0|
|    max|              9999|31/12/2018 21:56|Vindaloo Sauce|                 9|             9.95|                 9|
+-------+------------------+----------------+--------------+------------------+-----------------+------------------+

In [12]:
df.count()

74818

In [13]:
totaldf = df.groupBy(col("Item Name")).agg(sum(col("Quantity").cast("int")).alias("total_orders"))
totaldf.join(df.select(col("Item Name"),col("Product Price")).distinct(),"Item Name").withColumn("revenue",round(col("total_orders")*col("Product Price"),2)).orderBy(col("revenue").desc()).show()

+--------------------+------------+-------------+--------+
|           Item Name|total_orders|Product Price| revenue|
+--------------------+------------+-------------+--------+
|Chicken Tikka Masala|        2473|         8.95|22133.35|
|          Pilau Rice|        6367|         2.95|18782.65|
|               Korma|        1370|        12.95| 17741.5|
|               Korma|        1370|         9.95| 13631.5|
|          Plain Naan|        4983|          2.6| 12955.8|
|               Korma|        1370|         8.95| 12261.5|
|         Bombay Aloo|        1831|         5.95|10894.45|
|        Onion Bhajee|        2749|         3.95|10858.55|
|      Butter Chicken|        1068|         9.95| 10626.6|
|              Madras|         851|        11.95|10169.45|
|         Garlic Naan|        3318|         2.95|  9788.1|
|     Korma - Chicken|        1091|         8.95| 9764.45|
|          Plain Rice|        2964|         2.95|  8743.8|
|Tandoori Mixed Grill|         716|        11.95|  8556.2|
|       Plain Papadum|       10648|          0.8|  8518.4|
|Chicken Tikka (Main)|         905|         8.95| 8099.75|
|     Chicken Biryani|         771|         9.95| 7671.45|
|               Curry|         639|        11.95| 7636.05|
|              Madras|         851|         8.95| 7616.45|
|           Saag Aloo|        1234|         5.95|  7342.3|
+--------------------+------------+-------------+--------+
only showing top 20 rows

In [14]:
df.createOrReplaceTempView("Orders")

In [15]:
spark.sql("select * from Orders").show()

+------------+----------------+--------------------+--------+-------------+--------------+
|Order Number|      Order Date|           Item Name|Quantity|Product Price|Total products|
+------------+----------------+--------------------+--------+-------------+--------------+
|       16118|03/08/2019 20:25|       Plain Papadum|       2|          0.8|             6|
|       16118|03/08/2019 20:25|    King Prawn Balti|       1|        12.95|             6|
|       16118|03/08/2019 20:25|         Garlic Naan|       1|         2.95|             6|
|       16118|03/08/2019 20:25|       Mushroom Rice|       1|         3.95|             6|
|       16118|03/08/2019 20:25| Paneer Tikka Masala|       1|         8.95|             6|
|       16118|03/08/2019 20:25|       Mango Chutney|       1|          0.5|             6|
|       16117|03/08/2019 20:17|          Plain Naan|       1|          2.6|             7|
|       16117|03/08/2019 20:17|       Mushroom Rice|       1|         3.95|             7|
|       16117|03/08/2019 20:17|Tandoori Chicken ...|       1|         4.95|             7|
|       16117|03/08/2019 20:17|     Vindaloo - Lamb|       1|         7.95|             7|
|       16117|03/08/2019 20:17|             Chapati|       1|         1.95|             7|
|       16117|03/08/2019 20:17|          Lamb Tikka|       1|         4.95|             7|
|       16117|03/08/2019 20:17|         Saag Paneer|       1|         5.95|             7|
|       16116|03/08/2019 20:09|          Aloo Chaat|       1|         4.95|             5|
|       16116|03/08/2019 20:09|      Chicken Pakora|       1|         5.95|             5|
|       16116|03/08/2019 20:09|Chicken Chilli Ga...|       1|         9.95|             5|
|       16116|03/08/2019 20:09|        Lamb Biryani|       1|         9.95|             5|
|       16116|03/08/2019 20:09|          Keema Naan|       1|         2.95|             5|
|       16115|03/08/2019 20:01|      Chicken Pakora|       1|         5.95|             7|
|       16115|03/08/2019 20:01|       Plain Papadum|       1|          0.8|             7|
+------------+----------------+--------------------+--------+-------------+--------------+
only showing top 20 rows

In [16]:
spark.sql("describe Orders").show()

+--------------+---------+-------+
|      col_name|data_type|comment|
+--------------+---------+-------+
|  Order Number|   string|   null|
|    Order Date|   string|   null|
|     Item Name|   string|   null|
|      Quantity|   string|   null|
| Product Price|   string|   null|
|Total products|   string|   null|
+--------------+---------+-------+

In [17]:
rdd1 = sc.parallelize([1,2,3])

In [18]:
rdd1.collect()

[1, 2, 3]

In [19]:
spark.sql("select * from (select `Item Name`,row_number() over(order by total_orders desc) as `rn` from (select `Item Name`,sum(cast(Quantity as int)) as total_orders from Orders as total_orders group by `Item Name`) )as temp where `rn` <=10 ").show()

23/04/15 23:31:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/15 23:31:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/15 23:31:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/15 23:31:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/15 23:31:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/15 23:31:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/15 23:31:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+--------------------+---+
|           Item Name| rn|
+--------------------+---+
|       Plain Papadum|  1|
|          Pilau Rice|  2|
|          Plain Naan|  3|
|         Garlic Naan|  4|
|          Plain Rice|  5|
|        Onion Bhajee|  6|
|       Mango Chutney|  7|
|Chicken Tikka Masala|  8|
|             Chapati|  9|
|          Mint Sauce| 10|
+--------------------+---+

In [21]:
spark.sql.shuffle.partitions

AttributeError: 'function' object has no attribute 'shuffle'

In [23]:
dir(spark)

['Builder',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_activeSession',
 '_conf',
 '_convert_from_pandas',
 '_createFromLocal',
 '_createFromRDD',
 '_create_dataframe',
 '_create_from_pandas_with_arrow',
 '_create_shell_session',
 '_getActiveSessionOrCreate',
 '_get_numpy_record_dtype',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedSession',
 '_jconf',
 '_jsc',
 '_jsparkSession',
 '_jvm',
 '_repr_html_',
 '_sc',
 'builder',
 'catalog',
 'conf',
 'createDataFrame',
 'getActiveSession',
 'newSession',
 'range',
 'read',
 'readStream',
 'sparkContext',
 'sql',
 'stop',
 'streams',
 'table',
 'udf',
 'version']

In [7]:
rdd3 = spark._sc.parallelize([2,3,4])

In [8]:
type(rdd3)

pyspark.rdd.RDD

In [9]:
rdd3.collect()

[2, 3, 4]

In [10]:
df3 = rdd3.toDF()
df3

Traceback (most recent call last):
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/serializers.py", line 458, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 602, in dump
    return Pickler.dump(self, obj)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 692, in reducer_override
    return self._function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 565, in _function_reduce
    return self._dynamic_function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 546, in _dynamic_function_reduce
    state = _function_getstate(func)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 157, in _function_getstate
    f_globals_ref = _extract_code_globals(func.__code__)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle.py", line 334, in _extract_code_globals
    out_names = {names[oparg]: None for _, oparg in _walk_global_ops(co)}
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/koffeebook/opt/anaconda3/envs/myenv/lib/python3.11/site-packages/pyspark/cloudpickle/cloudpickle.py", line 334, in <dictcomp>
    out_names = {names[oparg]: None for _, oparg in _walk_global_ops(co)}
                 ~~~~~^^^^^^^
IndexError: tuple index out of range

PicklingError: Could not serialize object: IndexError: tuple index out of range

In [34]:
l1 = spark.sparkContext.getConf.getAll
print(l1)

AttributeError: 'function' object has no attribute 'getAll'